<footer class="pt-4 my-md-5 pt-md-5">
    <div class="row">
        <div class="col d-flex justify-content-between">
            <div class="footer-icon fa-2x">
                <h5>Accepted payment providers</h5>
                <i class="fab fa-cc-apple-pay" title="Apple Pay"></i>
                <i class="fab fa-cc-paypal" title="PayPal"></i>
                <i class="fab fa-cc-mastercard" title="Mastercard"></i>
                <i class="fab fa-cc-visa" title="Visa"></i>
                <i class="fab fa-cc-stripe" title="Stripe"></i>
            </div>
            <div class="footer-icon fa-2x">
                <h5 class="text-right">Social media</h5>
                <a href="https://www.facebook.com/thedashbored"><i class="fab fa-facebook" title="Facebook"
                        href=""></i></a>
                <a href="https://www.twitter.com/dashbo_red"><i class="fab fa-twitter" title="Twitter" href=""></i></a>
                <a href="https://www.linkedin.com/company/dashbored"><i class="fab fa-linkedin" title="LinkedIn"
                        href=""></i></a>
                <a href="https://github.com/ysemaj/dashbored"><i class="fab fa-github" title="GitHub" href=""></i></a>
                <a href="mailto:james@dashbo.red"><i class="fas fa-envelope" title="Email"></i></a>
            </div>
        </div>
</footer>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="../images/logo.png" alt="" width="30" height="30">
            <small class="d-block mb-3 mr-5 text-muted">Committed to helping clubs and societies effectively manage
                their
                affairs.</small>
            <small class="d-block mb-3 text-muted">© dashbored 2020</small>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/contact">Contact</a></li>
                <li><a class="text-muted" href="/customers">Customers</a></li>
                <li><a class="text-muted" href="/faqs">FAQS</a></li>
                <li><a class="text-muted" href="/pricing">Pricing</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Website</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/legal/investors">Investors</a></li>
                <li><a class="text-muted" href="/legal/libraries">Open-Source Libraries</a></li>
                <li><a class="text-muted" href="/legal/security">Security</a></li>
                <li><a class="text-muted" href="/sitemap">Sitemap</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Legal</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/legal/cookies">Cookies</a></li>
                <li><a class="text-muted" href="/legal/privacy">Privacy Policy</a></li>
                <li><a class="text-muted" href="/legal/terms">Terms & Conditions</a></li>
                <li><a class="text-muted" href="/legal/user-agreement">User Agreement</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Bootstrap javascript -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<!-- Font awesome  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
    integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>

<!-- Countup.js -->
<script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js"></script>

<!-- LinkedIn -->
<!-- <script src="https://platform.linkedin.com/in.js" type="text/javascript">
    api_key: {
        YOUR_API_KEY_GOES_HERE
    }
    authorize: true
    lang: en_US
</script> -->

<!-- Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163883785-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-163883785-1');
</script> -->

<!-- Custom -->
<script type="text/javascript" src="../javascript/moment.js"></script>
<script type="text/javascript" src="../javascript/main.js"></script>
<script type="text/javascript" src="../javascript/password-check.js"></script>
<script type="text/javascript" src="../javascript/hover.js"></script>
<script type="text/javascript" src="../javascript/sidebar.js"></script>