<!-- <div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0&appId=2176243862437674&autoLogAppEvents=1">
</script> -->

<nav class="navbar navbar-expand-md fixed-top bg-white shadow-sm pl-0">
    <div class="navbar order-1 order-md-0 align-middle pl-2">
        <ul class="navbar-nav mr-auto" id="logo">
            <li class="nav-item">
                <img class="logo-img" src="../images/logo.png" id="logo-img" alt="dashbored logo">
            </li>
            <li class="nav-item w-50" id="input-bar">
                <div class="input-group" id="nav-search">
                    <input type="text" class="form-control" placeholder="Search" id="nav-search-box">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="nav-search-button">🔎</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#" id="notification-bell">🔔</a>
                <span class="badge badge-primary" id="notifications-label">4 Notifications</span>
            </li>
            <li class="nav-item pl-4" id="profile-image">
                <img id="profile-photo" src="./images/james.png">
            </li>
            <li class="nav-item pl-2">
                <div class="mb-0 pb-0" id="profile-text">
                    <a class="profile-name">James Watson</a>
                    <small class="profile-date" id="profile-date">7 May 2020</small>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="space-75"></div>

</div>