<!doctype HTML>

<head>

</head>

<body>
    <h1>Error</h1>
    <small><%= message %></small>
    <br>
    <small><%= error.status %></small>
    <br>
    <small><%= error.stack %></small>
</body>

</html>