<!doctype html>
<html lang="en">

<head>
    <%- include ('../partials/head') -%>
</head>

<body>
    <div id="nav">
        <%- include ('../partials/nav') -%>
    </div>

    <div class="row">
        <div id="sidebar" class="toggled">
            <%- include ('../partials/sidebar') -%>
        </div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="">
                <h1>Hello world</h1>
                <small>This is some small text</small>
            </div>
        </main>
    </div>

</body>


</html>